In [1]:
import sqlite3
import numpy as np
import pandas as pd
import time
from IPython.display import display

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

db = sqlite3.connect('L19DB_demo.sqlite')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS candidates")
cursor.execute("DROP TABLE IF EXISTS contributors")
cursor.execute("PRAGMA foreign_keys=1")

cursor.execute('''CREATE TABLE candidates (
               id INTEGER PRIMARY KEY NOT NULL, 
               first_name TEXT, 
               last_name TEXT, 
               middle_init TEXT, 
               party TEXT NOT NULL)''')

db.commit() # Commit changes to the database

cursor.execute('''CREATE TABLE contributors (
          id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
          last_name TEXT, 
          first_name TEXT, 
          middle_name TEXT, 
          street_1 TEXT, 
          street_2 TEXT, 
          city TEXT, 
          state TEXT, 
          zip TEXT, 
          amount REAL, 
          date DATETIME, 
          candidate_id INTEGER NOT NULL, 
          FOREIGN KEY(candidate_id) REFERENCES candidates(id))''')

db.commit()

with open ("candidates.txt") as candidates:
    next(candidates) # jump over the header
    for line in candidates.readlines():
        cid, first_name, last_name, middle_name, party = line.strip().split('|')
        vals_to_insert = (int(cid), first_name, last_name, middle_name, party)
        cursor.execute('''INSERT INTO candidates 
                  (id, first_name, last_name, middle_init, party)
                  VALUES (?, ?, ?, ?, ?)''', vals_to_insert)

with open ("contributors.txt") as contributors:
    next(contributors)
    for line in contributors.readlines():
        cid, last_name, first_name, middle_name, street_1, street_2, \
            city, state, zip_code, amount, date, candidate_id = line.strip().split('|')
        vals_to_insert = (last_name, first_name, middle_name, street_1, street_2, 
                          city, state, int(zip_code), amount, date, candidate_id)
        cursor.execute('''INSERT INTO contributors (last_name, first_name, middle_name, 
                           street_1, street_2, city, state, zip, amount, date, candidate_id) 
                           VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', vals_to_insert)

candidate_cols = [col[1] for col in cursor.execute("PRAGMA table_info(candidates)")]
contributor_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]

def viz_tables(cols, query):
    q = cursor.execute(query).fetchall()
    framelist = []
    for i, col_name in enumerate(cols):
        framelist.append((col_name, [col[i] for col in q]))
    return pd.DataFrame.from_items(framelist)

query = '''SELECT * FROM contributors WHERE candidate_id = (SELECT id from candidates WHERE last_name = "Obama")'''
display(viz_tables(contributor_cols, query))

query = '''SELECT * FROM candidates'''
display(viz_tables(candidate_cols, query))

# INNER JOIN
# 1
query = '''SELECT contributors.id, contributors.last_name, contributors.first_name, candidates.last_name FROM candidates INNER JOIN contributors ON candidates.id = contributors.candidate_id'''
display(viz_tables(['contributors.id', 'contributors.last_name', 'contributors.first_name', 'candidates.last_name'], query))

# 2
query = '''SELECT contributors.id, contributors.last_name, contributors.first_name, candidates.last_name FROM candidates INNER JOIN contributors ON candidates.id = contributors.candidate_id WHERE candidates.last_name = "Obama"'''
display(viz_tables(['contributors.id', 'contributors.last_name', 'contributors.first_name', 'candidates.last_name'], query))

# LEFT JOIN
# 3
query = '''SELECT AVG(contributors.amount), COUNT(contributors.id), candidates.last_name FROM candidates LEFT JOIN contributors ON candidates.id = contributors.candidate_id GROUP BY candidates.id'''
display(viz_tables(['average contribution', 'number of contributors', 'candidate last name'], query))
db.close()

# Pandas
dfcand = pd.read_csv("candidates.txt", sep="|")
dfcontr = pd.read_csv("contributors.txt", sep="|")
del dfcontr['id']

dbp = sqlite3.connect('L19_pandas_DB.sqlite')
csr = dbp.cursor()
csr.execute("DROP TABLE IF EXISTS candidates")
csr.execute("DROP TABLE IF EXISTS contributors")
csr.execute("PRAGMA foreign_keys=1")

csr.execute('''CREATE TABLE candidates (
               id INTEGER PRIMARY KEY NOT NULL, 
               first_name TEXT, 
               last_name TEXT, 
               middle_name TEXT, 
               party TEXT NOT NULL)''')

dbp.commit() # Commit changes to the database

csr.execute('''CREATE TABLE contributors (
          id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
          last_name TEXT, 
          first_name TEXT, 
          middle_name TEXT, 
          street_1 TEXT, 
          street_2 TEXT, 
          city TEXT, 
          state TEXT, 
          zip TEXT, 
          amount REAL, 
          date DATETIME, 
          candidate_id INTEGER NOT NULL, 
          FOREIGN KEY(candidate_id) REFERENCES candidates(id))''')

dbp.commit()

dfcand.to_sql("candidates", dbp, if_exists="append", index=False)

# 1
dfcontr.to_sql('contributors', dbp, if_exists='append', index=False)
display(dfcontr.head())
print(dfcontr.shape)

# 2A
display(dfcontr.query('state == "VA" & amount < 400'))

# 2B
display(dfcontr[dfcontr.state.isnull()])

# 2C
display(dfcontr.query('state == "TX" | state == "PA"'))

# 2D
display(dfcontr.query('amount >= 10 & amount <= 50'))

# Sorting
# 1
display(dfcontr.sort_values(by='amount', ascending=False))

# 2
display(dfcontr[['first_name', 'amount']])

# 3
display(dfcontr[['last_name', 'first_name']].drop_duplicates())

# 4
display(dfcontr[['last_name', 'first_name']].drop_duplicates().count())

# Altering Tables
# 1
dfcontr['name'] = dfcontr['last_name'] + ', ' + dfcontr['first_name']
display(dfcontr)

# 2
dfcontr.loc[dfcontr['state'] == 'PA', 'name'] = 'X'
display(dfcontr)

# 3
del dfcontr['name']
display(dfcontr)

# describe()
display(dfcontr.describe())

# Join
cols_wanted = ['last_name_x', 'first_name_x', 'candidate_id', 'id', 'last_name_y']
dfcontr.merge(dfcand, left_on="candidate_id", right_on="id")[cols_wanted]
display(dfcontr)

dfcontr.merge(dfcand, left_on="candidate_id", right_on="id")[cols_wanted].groupby('last_name_y').describe()
display(dfcontr)

dfcontr.merge(dfcand, left_on="candidate_id", right_on="id", how="left")[cols_wanted]
display(dfcontr)

dfcontr.merge(dfcand, left_on="candidate_id", right_on="id", how="right")[cols_wanted]
display(dfcontr)

dfcontr.merge(dfcand, left_on="candidate_id", right_on="id", how="outer")[cols_wanted]
display(dfcontr)

    id last_name first_name middle_name                     street_1 street_2             city state        zip   amount        date  candidate_id
0   26   Buckler      Steve                          24351 Armada Dr                Dana Point    CA  926291306    50.00  2007-07-30            20
1   27   Buckler      Steve                          24351 Armada Dr                Dana Point    CA  926291306    25.00  2007-08-16            20
2   28  Buckheit      Bruce                            8904 KAREN DR                   FAIRFAX    VA  220312731   100.00  2007-09-19            20
3   29    Buckel      Linda                            PO Box 683130                 Park City    UT  840683130  2300.00  2007-08-14            20
4   30    Buckel      Linda                            PO Box 683130                 Park City    UT  840683130 -2300.00  2007-08-14            20
5   31    Buckel      Linda                            PO Box 683130                 Park City    UT  840683130  4600.00  2007-08-14            20
6   32      Buck     Thomas                      4206 Terrace Street               Kansas City    MO      64111   100.00  2007-09-25            20
7   33      Buck        Jay          K.  1855 Old Willow Rd Unit 322                Northfield    IL  600932918   200.00  2007-09-12            20
8   34      Buck     Blaine           M                 45 Eaton Ave                    Camden    ME   48431752  2300.00  2007-09-30            20
9   35      Buck    Barbara                         1780 NE 138th St               North Miami    FL  331811316    50.00  2007-09-13            20
10  36      Buck    Barbara                         1780 NE 138th St               North Miami    FL  331811316    50.00  2007-07-19            20
11  37   Buchman     Mark M                          2530 Lawton Ave           San Luis Obispo    CA  934015622   460.80  2007-07-18            20
12  38    Bucher        Ida           M             1400 Warnall Ave               Los Angeles    CA  900245333   100.00  2007-07-10            20
13  39  Buchanek  Elizabeth                         7917 Kentbury Dr                  Bethesda    MD  208144615    50.00  2007-09-30            20
14  40  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   500.00  2007-09-24            20
15  41  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303  -500.00  2007-09-24            20
16  42  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   500.00  2007-09-24            20
17  43  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   700.00  2007-08-28            20
18  44  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303  -700.00  2007-08-28            20
19  45  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303  1000.00  2007-08-28            20
20  46  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303  1300.00  2007-08-09            20
21  47  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   200.00  2007-08-14            20
22  48  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   500.00  2007-07-25            20
23  49  Buchanan       John                          4635 49th St NW                Washington    DC  200164320   200.09  2007-09-23            20
24  50  Harrison       Ryan                              2247 3rd St                  La Verne    CA  917504918    25.00  2007-07-26            20

    id   first_name   last_name middle_init party
0   16         Mike    Huckabee                 R
1   20       Barack       Obama                 D
2   22      Rudolph    Giuliani                 R
3   24         Mike      Gravel                 D
4   26         John     Edwards                 D
5   29         Bill  Richardson                 D
6   30       Duncan      Hunter                 R
7   31       Dennis    Kucinich                 D
8   32          Ron        Paul                 R
9   33       Joseph       Biden                 D
10  34      Hillary     Clinton          R.     D
11  35         Mitt      Romney                 R
12  36       Samuel   Brownback                 R
13  37         John      McCain                 R
14  38          Tom    Tancredo                 R
15  39  Christopher        Dodd          J.     D
16  41         Fred    Thompson          D.     R

     contributors.id contributors.last_name contributors.first_name candidates.last_name
0                  1                   Agee                  Steven             Huckabee
1                  2                 Ahrens                     Don             Huckabee
2                  3                 Ahrens                     Don             Huckabee
3                  4                 Ahrens                     Don             Huckabee
4                  5                   Akin                 Charles             Huckabee
5                  6                   Akin                    Mike             Huckabee
6                  7                   Akin                 Rebecca             Huckabee
7                  8               Aldridge                 Brittni             Huckabee
8                  9                  Allen                 John D.             Huckabee
9                 10                  Allen                 John D.             Huckabee
10                11                Allison                 John W.             Huckabee
11                12                Allison                 Rebecca             Huckabee
12                13                Allison                 Rebecca             Huckabee
13                14                  Altes                    R.D.             Huckabee
14                15                 Andres                    Dale             Huckabee
15                16                Anthony                    John             Huckabee
16                17               Arbogast                  Robert             Huckabee
17                18               Arbogast                  Robert             Huckabee
18                19                  Ardle                 William             Huckabee
19                20                   Atiq                    Omar             Huckabee
20                21                   Atiq                    Omar             Huckabee
21                22                  Baker                   David             Huckabee
22                23               Bancroft                   David             Huckabee
23                24                  Banks                 Charles             Huckabee
24                25                 Barbee                    John             Huckabee
25                26                Buckler                   Steve                Obama
26                27                Buckler                   Steve                Obama
27                28               Buckheit                   Bruce                Obama
28                29                 Buckel                   Linda                Obama
29                30                 Buckel                   Linda                Obama
..               ...                    ...                     ...                  ...
145              146                ABDELLA                  THOMAS               Romney
146              147                 ABBOTT                  WELDON               Romney
147              148                 ABBOTT                  WELDON               Romney
148              149                 ABBOTT                  GERALD               Romney
149              150                 ABBOTT                  GERALD               Romney
150              151                 ABEDIN                  ZAINUL               McCain
151              152                 ABBOTT                   SYBIL               McCain
152              153                 ABBOTT                   SYBIL               McCain
153              154                 ABBOTT                  RONALD               McCain
154              155                 ABBOTT                  RONALD               McCain
155              156                 ABBOTT                  ROBERT               McCain
156              157                 ABBOTT                    MIKE               McCain
157              158                  ABBOT                   DAVID               McCain
158              159                   ABBO                 PAULINE               McCain
159              160                  ABATE                   MARIA               McCain
160              161                  ABAIR                   PETER               McCain
161              162              ABACHERLI                 SHIRLEY               McCain
162              163                 AARONS                 CHARLES               McCain
163              164                 AARONS                 CHARLES               McCain
164              165                 AARONS                 CHARLES               McCain
165              166                   ABEL                    JOHN               McCain
166              167                   ABEL                 MARLING               McCain
167              168                   ABEL                 RUDOLPH               McCain
168              169                  ABELE                  RODNEY               McCain
169              170            ABERCROMBIE                   DENIS               McCain
170              171               ABESHAUS                 MERRILL               McCain
171              172                ABRAHAM                  GEORGE               McCain
172              173             ABRAHAMSON                   PETER               McCain
173              174                ABRAHAM                   SALEM               McCain
174              175                ABRAHAM                   SALEM               McCain

[175 rows x 4 columns]

    contributors.id contributors.last_name contributors.first_name candidates.last_name
0                26                Buckler                   Steve                Obama
1                27                Buckler                   Steve                Obama
2                28               Buckheit                   Bruce                Obama
3                29                 Buckel                   Linda                Obama
4                30                 Buckel                   Linda                Obama
5                31                 Buckel                   Linda                Obama
6                32                   Buck                  Thomas                Obama
7                33                   Buck                     Jay                Obama
8                34                   Buck                  Blaine                Obama
9                35                   Buck                 Barbara                Obama
10               36                   Buck                 Barbara                Obama
11               37                Buchman                  Mark M                Obama
12               38                 Bucher                     Ida                Obama
13               39               Buchanek               Elizabeth                Obama
14               40               Buchanan                    John                Obama
15               41               Buchanan                    John                Obama
16               42               Buchanan                    John                Obama
17               43               Buchanan                    John                Obama
18               44               Buchanan                    John                Obama
19               45               Buchanan                    John                Obama
20               46               Buchanan                    John                Obama
21               47               Buchanan                    John                Obama
22               48               Buchanan                    John                Obama
23               49               Buchanan                    John                Obama
24               50               Harrison                    Ryan                Obama

    average contribution  number of contributors candidate last name
0               772.0000                      25            Huckabee
1               472.4356                      25               Obama
2             -1360.0000                      25            Giuliani
3                    NaN                       0              Gravel
4                    NaN                       0             Edwards
5                    NaN                       0          Richardson
6                    NaN                       0              Hunter
7                    NaN                       0            Kucinich
8              -519.7088                      25                Paul
9                    NaN                       0               Biden
10               50.6000                      25             Clinton
11              156.0000                      25              Romney
12                   NaN                       0           Brownback
13              452.6000                      25              McCain
14                   NaN                       0            Tancredo
15                   NaN                       0                Dodd
16                   NaN                       0            Thompson

  last_name first_name middle_name                street_1 street_2         city state    zip  amount        date  candidate_id
0      Agee     Steven         NaN  549 Laurel Branch Road      NaN        Floyd    VA  24091   500.0  2007-06-30            16
1    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566   250.0  2007-05-16            16
2    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566    50.0  2007-06-18            16
3    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566   100.0  2007-06-21            16
4      Akin    Charles         NaN  10187 Sugar Creek Road      NaN  Bentonville    AR  72712   100.0  2007-06-16            16

(175, 11)

     last_name first_name middle_name                     street_1 street_2             city state        zip  amount        date  candidate_id
27    Buckheit      Bruce         NaN                8904 KAREN DR      NaN          FAIRFAX    VA  220312731  100.00  2007-09-19            20
77   Ranganath      Anoop         NaN           2507 Willard Drive      NaN  Charlottesville    VA      22903 -100.00  2008-04-21            32
88   Perreault     Louise         NaN    503 Brockridge Hunt Drive      NaN          Hampton    VA      23666  -34.08  2008-04-21            32
145    ABDELLA     THOMAS          M.  4231 MONUMENT WALL WAY #340      NaN          FAIRFAX    VA  220308440   50.00  2007-09-30            35

    last_name first_name middle_name       street_1 street_2        city state   zip  amount        date  candidate_id
125    BOURNE     TRAVIS         NaN  LAGE KAART 77      NaN  BRASSCHATT   NaN  2930  -500.0  2008-11-20            35

       last_name first_name middle_name                 street_1 street_2        city state        zip   amount        date  candidate_id
65       BURGERT     RONALD          L.      5723 PLUMTREE DRIVE      NaN      DALLAS    TX  752524926 -1000.00  2008-03-05            22
70       BUCKLEY     WALTER          W.        1635 COUNTRY ROAD      NaN   BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
71       BUCKLEY   MARJORIE          B.        1635 COUNTRY ROAD      NaN   BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
79          Muse       Nina          Jo      2915 Toro Canyon Rd      NaN      Austin    TX      78746   -50.00  2008-04-21            32
93        Raught     Philip           M            4714 Plum Way      NaN  Pittsburgh    PA      15201 -1046.00  2008-04-21            32
94       Ferrara     Judith           D      1508 Waterford Road      NaN     Yardley    PA      19067 -1100.00  2008-04-21            32
95       Johnson   Cathleen          E.  1003 Justin Ln Apt 2016      NaN      Austin    TX  787572648   -14.76  2008-04-21            32
132        ABREU      KEVIN          M.    1305 GARDEN GLEN LANE      NaN    PEARLAND    TX  775816547    50.00  2007-09-30            35
133        ABREU      KEVIN          M.    1305 GARDEN GLEN LANE      NaN    PEARLAND    TX  775816547   150.00  2007-08-09            35
134        ABREU      KEVIN          M.    1305 GARDEN GLEN LANE      NaN    PEARLAND    TX  775816547    50.00  2007-07-19            35
165         ABEL       JOHN          H.        422 THOMAS STREET      NaN   BETHLEHEM    PA  180153316   200.00  2008-01-22            37
169  ABERCROMBIE      DENIS         NaN       11811 WATER OAK CT      NaN    MAGNOLIA    TX  773546270   500.00  2008-01-30            37
173      ABRAHAM      SALEM          A.               P.O. BOX 7      NaN    CANADIAN    TX  790140007  1000.00  2008-01-17            37
174      ABRAHAM      SALEM          A.               P.O. BOX 7      NaN    CANADIAN    TX  790140007  1300.00  2008-01-30            37

      last_name first_name middle_name                     street_1 street_2            city state        zip  amount        date  candidate_id
2        Ahrens        Don         NaN         4034 Rennellwood Way      NaN      Pleasanton    CA      94566    50.0  2007-06-18            16
18        Ardle    William         NaN            412 Dakota Avenue      NaN     Springfield    OH      45504    50.0  2007-06-28            16
25      Buckler      Steve         NaN              24351 Armada Dr      NaN      Dana Point    CA  926291306    50.0  2007-07-30            20
26      Buckler      Steve         NaN              24351 Armada Dr      NaN      Dana Point    CA  926291306    25.0  2007-08-16            20
34         Buck    Barbara         NaN             1780 NE 138th St      NaN     North Miami    FL  331811316    50.0  2007-09-13            20
35         Buck    Barbara         NaN             1780 NE 138th St      NaN     North Miami    FL  331811316    50.0  2007-07-19            20
38     Buchanek  Elizabeth         NaN             7917 Kentbury Dr      NaN        Bethesda    MD  208144615    50.0  2007-09-30            20
49     Harrison       Ryan         NaN                  2247 3rd St      NaN        La Verne    CA  917504918    25.0  2007-07-26            20
101      Aarons     Elaine         NaN   481 Buck Island Rd Apt 17A  APT 17A   West Yarmouth    MA   26733300    25.0  2008-02-26            34
104       Aaron    Shirley         NaN               101 Cherry Ave      NaN          Havana    FL  323331311    50.0  2008-02-29            34
120       Aaron     Carole         NaN                  PO Box 1806      NaN        Ogunquit    ME   39071806    50.0  2008-02-07            34
132       ABREU      KEVIN          M.        1305 GARDEN GLEN LANE      NaN        PEARLAND    TX  775816547    50.0  2007-09-30            35
134       ABREU      KEVIN          M.        1305 GARDEN GLEN LANE      NaN        PEARLAND    TX  775816547    50.0  2007-07-19            35
140       ABEGG   PATRICIA          T.              1862 E. 5150 S.      NaN  SALT LAKE CITY    UT  841176911    25.0  2007-09-17            35
143       ABEGG   PATRICIA          T.              1862 E. 5150 S.      NaN  SALT LAKE CITY    UT  841176911    25.0  2007-08-06            35
144       ABEGG   PATRICIA          T.              1862 E. 5150 S.      NaN  SALT LAKE CITY    UT  841176911    25.0  2007-07-10            35
145     ABDELLA     THOMAS          M.  4231 MONUMENT WALL WAY #340      NaN         FAIRFAX    VA  220308440    50.0  2007-09-30            35
147      ABBOTT     WELDON          S.    777 EAST SOUTH TEMPLE  4E      NaN  SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35
152      ABBOTT      SYBIL          F.              446 GAMES DRIVE      NaN            RENO    NV  895093326    50.0  2008-01-08            37
158        ABBO    PAULINE     MORENCY             10720 JACOB LANE      NaN      WHITE LAKE    MI  483862274    35.0  2008-01-07            37
160       ABAIR      PETER         NaN              40 EVANS STREET      NaN       WATERTOWN    MA   24722150    25.0  2008-01-09            37
172  ABRAHAMSON      PETER          J.        1030 W. ROSCOE STREET      NaN         CHICAGO    IL  606572207    50.0  2008-01-25            37

       last_name   first_name middle_name                      street_1      street_2                city state        zip   amount        date  candidate_id
30        Buckel        Linda         NaN                 PO Box 683130           NaN           Park City    UT  840683130  4600.00  2007-08-14            20
159        ABATE        MARIA       ELENA       1291 NIGHTINGALE AVENUE           NaN       MIAMI SPRINGS    FL  331663832  2600.00  2008-01-25            37
15       Anthony         John         NaN         211 Long Island Drive           NaN         Hot Springs    AR      71913  2300.00  2007-06-12            16
33          Buck       Blaine           M                  45 Eaton Ave           NaN              Camden    ME   48431752  2300.00  2007-09-30            20
28        Buckel        Linda         NaN                 PO Box 683130           NaN           Park City    UT  840683130  2300.00  2007-08-14            20
21         Baker        David         NaN        2550 Adamsbrooke Drive           NaN              Conway    AR      72034  2300.00  2007-04-11            16
13         Altes         R.D.         NaN               8600 Moody Road           NaN          Fort Smith    AR      72903  2300.00  2007-06-21            16
135   ABRAMOWITZ         NIRA         NaN               411 HARBOR ROAD           NaN           SOUTHPORT    CT   68901376  2300.00  2007-09-14            35
5           Akin         Mike         NaN              181 Baywood Lane           NaN          Monticello    AR      71655  1500.00  2007-05-18            16
174      ABRAHAM        SALEM          A.                    P.O. BOX 7           NaN            CANADIAN    TX  790140007  1300.00  2008-01-30            37
45      Buchanan         John         NaN               2025 NW 29th Rd           NaN          Boca Raton    FL  334316303  1300.00  2007-08-09            20
9          Allen      John D.         NaN        1052 Cannon Mill Drive           NaN       North Augusta    SC      29860  1300.00  2007-06-29            16
122        Aaron      Barbara         NaN          2298 Pacific Ave # 6           NaN       San Francisco    CA  941151435  1000.00  2008-02-11            34
23         Banks      Charles         NaN               P.O. Box 251310           NaN         Little Rock    AR      72225  1000.00  2007-05-14            16
19          Atiq         Omar         NaN           7200 S Hazel Street           NaN          Pine Bluff    AR      71603  1000.00  2007-05-18            16
44      Buchanan         John         NaN               2025 NW 29th Rd           NaN          Boca Raton    FL  334316303  1000.00  2007-08-28            20
20          Atiq         Omar         NaN           7200 S Hazel Street           NaN          Pine Bluff    AR      71603  1000.00  2007-06-27            16
138   ABOUBAKARE        NASAR         NaN         1400 SAN MIGUEL DRIVE           NaN      CORONA DEL MAR    CA  926251300  1000.00  2007-07-09            35
8          Allen      John D.         NaN        1052 Cannon Mill Drive           NaN       North Augusta    SC      29860  1000.00  2007-06-11            16
156       ABBOTT         MIKE          E.              4516 OSPREY LNDG           NaN           NICEVILLE    FL  325786810  1000.00  2008-01-15            37
11       Allison      Rebecca         NaN             3206 Summit Court           NaN         Little Rock    AR      72227  1000.00  2007-04-25            16
10       Allison      John W.         NaN                 P.O. Box 1089           NaN              Conway    AR      72033  1000.00  2007-05-18            16
173      ABRAHAM        SALEM          A.                    P.O. BOX 7           NaN            CANADIAN    TX  790140007  1000.00  2008-01-17            37
171      ABRAHAM       GEORGE         NaN                 P.O. BOX 1504           NaN        LAKE CHARLES    LA  706021504   800.00  2008-01-17            37
42      Buchanan         John         NaN               2025 NW 29th Rd           NaN          Boca Raton    FL  334316303   700.00  2007-08-28            20
114        Aaron      Sharron         NaN          1804 E Montgomery St           NaN        Broken Arrow    OK  740121840   500.00  2008-02-09            34
169  ABERCROMBIE        DENIS         NaN            11811 WATER OAK CT           NaN            MAGNOLIA    TX  773546270   500.00  2008-01-30            37
47      Buchanan         John         NaN               2025 NW 29th Rd           NaN          Boca Raton    FL  334316303   500.00  2007-07-25            20
168        ABELE       RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE           NaN            METAIRIE    LA  700021823   500.00  2008-01-15            37
39      Buchanan         John         NaN               2025 NW 29th Rd           NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20
..           ...          ...         ...                           ...           ...                 ...   ...        ...      ...         ...           ...
62         BURKE      SUZANNE          M.                 3401 EVANSTON           NaN             SEATTLE    WA  981038677  -700.00  2008-03-05            22
43      Buchanan         John         NaN               2025 NW 29th Rd           NaN          Boca Raton    FL  334316303  -700.00  2007-08-28            20
89     Rozenfeld        Timur         NaN               57 Herbert Road           NaN        Robbinsville    NJ       8691  -777.95  2008-04-21            32
66          BULL       BARTLE          B.            439 E. 51ST STREET           NaN            NEW YORK    NY  100226473  -800.00  2008-03-10            22
86     Froehling         Alan          L.               302 Broadway St           NaN        Mount Vernon    IL  628645116  -844.80  2008-04-21            32
99        Jacobs      Richard          G.                14337 Tawya Rd           NaN        Apple Valley    CA  923075545 -1000.00  2008-04-21            32
60     BURKHARDT        CRAIG          S.          910 15TH STREET N.W.           NaN          WASHINGTON    DC  200052503 -1000.00  2008-03-07            22
65       BURGERT       RONALD          L.           5723 PLUMTREE DRIVE           NaN              DALLAS    TX  752524926 -1000.00  2008-03-05            22
67          BULL       BARTLE          B.            439 E. 51ST STREET           NaN            NEW YORK    NY  100226473 -1000.00  2008-03-10            22
126      SECRIST        BRIAN          L.             3 MULE DEER TRAIL           NaN           LITTLETON    CO  801275722 -1000.00  2008-04-07            35
127   TOLLESTRUP       TRAVIS          W.           16331 WINECREEK RD.           NaN           SAN DIEGO    CA      92127 -1000.00  2008-05-15            35
83       Verster     Jeanette          M.               7220 SW 61st St           NaN               Miami    FL  331431807 -1000.00  2008-04-21            32
93        Raught       Philip           M                 4714 Plum Way           NaN          Pittsburgh    PA      15201 -1046.00  2008-04-21            32
94       Ferrara       Judith           D           1508 Waterford Road           NaN             Yardley    PA      19067 -1100.00  2008-04-21            32
63         BURKE         GAIL         NaN            165 E. 32ND STREET  APARTMENT 9E            NEW YORK    NY  100166014 -2000.00  2008-03-05            22
52         BYERS          BOB          A.          13170 TELFAIR AVENUE           NaN              SYLMAR    CA  913423573 -2300.00  2008-03-07            22
74         BROWN      TIMOTHY          J.           26826 MARLOWE COURT           NaN     STEVENSON RANCH    CA  913811020 -2300.00  2008-03-06            22
73         BRUNO        IRENE         NaN  10136 WINDERMERE CHASE BLVD.           NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22
72         BRUNO         JOHN         NaN  10136 WINDERMERE CHASE BLVD.           NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22
29        Buckel        Linda         NaN                 PO Box 683130           NaN           Park City    UT  840683130 -2300.00  2007-08-14            20
51      BYINGTON     MARGARET          E.     2633 MIDDLEBORO LANE N.E.           NaN        GRAND RAPIDS    MI  495061254 -2300.00  2008-03-03            22
64         BURKE       DONALD          J.                     12 LOMPOC           NaN  RANCHO SANTA MARGA    CA  926881817 -2300.00  2008-03-11            22
84       Uihlein      Richard         NaN            1396 N Waukegan Rd           NaN         Lake Forest    IL  600451147 -2300.00  2008-04-21            32
54          BUSH      KRYSTIE         NaN                P.O. BOX 61046           NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22
56        BURTON        SUSAN         NaN         9338 DEER CREEK DRIVE           NaN               TAMPA    FL  336472286 -2300.00  2008-03-05            22
57        BURTON       STEVEN          G.         9938 DEER CREEK DRIVE           NaN               TAMPA    FL      33647 -2300.00  2008-03-05            22
111        Reich       Thomas         NaN                  499 Park Ave           NaN            New York    NY  100221240 -2300.00  2008-08-28            34
58        BURTON        GLENN          M.         4404 CHARLESTON COURT           NaN               TAMPA    FL  336092620 -2300.00  2008-03-05            22
55          BUSH         ERIC         NaN                P.O. BOX 61046           NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22
90         Kazor  Christopher           M           707 Spindletree ave           NaN          Naperville    IL      60565 -2592.00  2008-04-21            32

[175 rows x 11 columns]

    first_name  amount
0       Steven   500.0
1          Don   250.0
2          Don    50.0
3          Don   100.0
4      Charles   100.0
5         Mike  1500.0
6      Rebecca   500.0
7      Brittni   250.0
8      John D.  1000.0
9      John D.  1300.0
10     John W.  1000.0
11     Rebecca  1000.0
12     Rebecca   200.0
13        R.D.  2300.0
14        Dale   250.0
15        John  2300.0
16      Robert   500.0
17      Robert   100.0
18     William    50.0
19        Omar  1000.0
20        Omar  1000.0
21       David  2300.0
22       David   250.0
23     Charles  1000.0
24        John   500.0
25       Steve    50.0
26       Steve    25.0
27       Bruce   100.0
28       Linda  2300.0
29       Linda -2300.0
..         ...     ...
145     THOMAS    50.0
146     WELDON   100.0
147     WELDON    50.0
148     GERALD   100.0
149     GERALD   100.0
150     ZAINUL   500.0
151      SYBIL    75.0
152      SYBIL    50.0
153     RONALD   200.0
154     RONALD   100.0
155     ROBERT   500.0
156       MIKE  1000.0
157      DAVID   200.0
158    PAULINE    35.0
159      MARIA  2600.0
160      PETER    25.0
161    SHIRLEY   150.0
162    CHARLES   300.0
163    CHARLES   410.0
164    CHARLES   500.0
165       JOHN   200.0
166    MARLING   100.0
167    RUDOLPH   100.0
168     RODNEY   500.0
169      DENIS   500.0
170    MERRILL   120.0
171     GEORGE   800.0
172      PETER    50.0
173      SALEM  1000.0
174      SALEM  1300.0

[175 rows x 2 columns]

       last_name first_name
0           Agee     Steven
1         Ahrens        Don
4           Akin    Charles
5           Akin       Mike
6           Akin    Rebecca
7       Aldridge    Brittni
8          Allen    John D.
10       Allison    John W.
11       Allison    Rebecca
13         Altes       R.D.
14        Andres       Dale
15       Anthony       John
16      Arbogast     Robert
18         Ardle    William
19          Atiq       Omar
21         Baker      David
22      Bancroft      David
23         Banks    Charles
24        Barbee       John
25       Buckler      Steve
27      Buckheit      Bruce
28        Buckel      Linda
31          Buck     Thomas
32          Buck        Jay
33          Buck     Blaine
34          Buck    Barbara
36       Buchman     Mark M
37        Bucher        Ida
38      Buchanek  Elizabeth
39      Buchanan       John
..           ...        ...
131      ABSHIER      DIANA
132        ABREU      KEVIN
135   ABRAMOWITZ       NIRA
136       ABRAMS    MICHAEL
137   ABRAMOWITZ        KEN
138   ABOUBAKARE      NASAR
139        ABEGG   PATRICIA
145      ABDELLA     THOMAS
146       ABBOTT     WELDON
148       ABBOTT     GERALD
150       ABEDIN     ZAINUL
151       ABBOTT      SYBIL
153       ABBOTT     RONALD
155       ABBOTT     ROBERT
156       ABBOTT       MIKE
157        ABBOT      DAVID
158         ABBO    PAULINE
159        ABATE      MARIA
160        ABAIR      PETER
161    ABACHERLI    SHIRLEY
162       AARONS    CHARLES
165         ABEL       JOHN
166         ABEL    MARLING
167         ABEL    RUDOLPH
168        ABELE     RODNEY
169  ABERCROMBIE      DENIS
170     ABESHAUS    MERRILL
171      ABRAHAM     GEORGE
172   ABRAHAMSON      PETER
173      ABRAHAM      SALEM

[126 rows x 2 columns]

last_name     126
first_name    126
dtype: int64

       last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id                name
0           Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091   500.0  2007-06-30            16        Agee, Steven
1         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   250.0  2007-05-16            16         Ahrens, Don
2         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566    50.0  2007-06-18            16         Ahrens, Don
3         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   100.0  2007-06-21            16         Ahrens, Don
4           Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712   100.0  2007-06-16            16       Akin, Charles
5           Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655  1500.0  2007-05-18            16          Akin, Mike
6           Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655   500.0  2007-05-18            16       Akin, Rebecca
7       Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024   250.0  2007-06-06            16   Aldridge, Brittni
8          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1000.0  2007-06-11            16      Allen, John D.
9          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1300.0  2007-06-29            16      Allen, John D.
10       Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033  1000.0  2007-05-18            16    Allison, John W.
11       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227  1000.0  2007-04-25            16    Allison, Rebecca
12       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227   200.0  2007-06-12            16    Allison, Rebecca
13         Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903  2300.0  2007-06-21            16         Altes, R.D.
14        Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266   250.0  2007-06-06            16        Andres, Dale
15       Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913  2300.0  2007-06-12            16       Anthony, John
16      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   500.0  2007-04-08            16    Arbogast, Robert
17      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   100.0  2007-06-22            16    Arbogast, Robert
18         Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504    50.0  2007-06-28            16      Ardle, William
19          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-05-18            16          Atiq, Omar
20          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-06-27            16          Atiq, Omar
21         Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034  2300.0  2007-04-11            16        Baker, David
22      Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123   250.0  2007-04-24            16     Bancroft, David
23         Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225  1000.0  2007-05-14            16      Banks, Charles
24        Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502   500.0  2007-05-23            16        Barbee, John
25       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    50.0  2007-07-30            20      Buckler, Steve
26       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    25.0  2007-08-16            20      Buckler, Steve
27      Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731   100.0  2007-09-19            20     Buckheit, Bruce
28        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130  2300.0  2007-08-14            20       Buckel, Linda
29        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130 -2300.0  2007-08-14            20       Buckel, Linda
..           ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...                 ...
145      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440    50.0  2007-09-30            35     ABDELLA, THOMAS
146       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35      ABBOTT, WELDON
147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35      ABBOTT, WELDON
148       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-09-15            35      ABBOTT, GERALD
149       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-08-15            35      ABBOTT, GERALD
150       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37      ABEDIN, ZAINUL
151       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    75.0  2008-01-08            37       ABBOTT, SYBIL
152       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    50.0  2008-01-08            37       ABBOTT, SYBIL
153       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   200.0  2008-01-31            37      ABBOTT, RONALD
154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   100.0  2008-01-08            37      ABBOTT, RONALD
155       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763   500.0  2008-01-21            37      ABBOTT, ROBERT
156       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810  1000.0  2008-01-15            37        ABBOTT, MIKE
157        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114   200.0  2008-01-21            37        ABBOT, DAVID
158         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274    35.0  2008-01-07            37       ABBO, PAULINE
159        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37        ABATE, MARIA
160        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150    25.0  2008-01-09            37        ABAIR, PETER
161    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524   150.0  2008-01-28            37  ABACHERLI, SHIRLEY
162       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   300.0  2008-01-30            37     AARONS, CHARLES
163       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   410.0  2008-01-15            37     AARONS, CHARLES
164       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   500.0  2008-01-09            37     AARONS, CHARLES
165         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316   200.0  2008-01-22            37          ABEL, JOHN
166         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069   100.0  2008-01-22            37       ABEL, MARLING
167         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37       ABEL, RUDOLPH
168        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823   500.0  2008-01-15            37       ABELE, RODNEY
169  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270   500.0  2008-01-30            37  ABERCROMBIE, DENIS
170     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37   ABESHAUS, MERRILL
171      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504   800.0  2008-01-17            37     ABRAHAM, GEORGE
172   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207    50.0  2008-01-25            37   ABRAHAMSON, PETER
173      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1000.0  2008-01-17            37      ABRAHAM, SALEM
174      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1300.0  2008-01-30            37      ABRAHAM, SALEM

[175 rows x 12 columns]

       last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id                name
0           Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091   500.0  2007-06-30            16        Agee, Steven
1         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   250.0  2007-05-16            16         Ahrens, Don
2         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566    50.0  2007-06-18            16         Ahrens, Don
3         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   100.0  2007-06-21            16         Ahrens, Don
4           Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712   100.0  2007-06-16            16       Akin, Charles
5           Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655  1500.0  2007-05-18            16          Akin, Mike
6           Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655   500.0  2007-05-18            16       Akin, Rebecca
7       Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024   250.0  2007-06-06            16   Aldridge, Brittni
8          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1000.0  2007-06-11            16      Allen, John D.
9          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1300.0  2007-06-29            16      Allen, John D.
10       Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033  1000.0  2007-05-18            16    Allison, John W.
11       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227  1000.0  2007-04-25            16    Allison, Rebecca
12       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227   200.0  2007-06-12            16    Allison, Rebecca
13         Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903  2300.0  2007-06-21            16         Altes, R.D.
14        Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266   250.0  2007-06-06            16        Andres, Dale
15       Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913  2300.0  2007-06-12            16       Anthony, John
16      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   500.0  2007-04-08            16    Arbogast, Robert
17      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   100.0  2007-06-22            16    Arbogast, Robert
18         Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504    50.0  2007-06-28            16      Ardle, William
19          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-05-18            16          Atiq, Omar
20          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-06-27            16          Atiq, Omar
21         Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034  2300.0  2007-04-11            16        Baker, David
22      Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123   250.0  2007-04-24            16     Bancroft, David
23         Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225  1000.0  2007-05-14            16      Banks, Charles
24        Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502   500.0  2007-05-23            16        Barbee, John
25       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    50.0  2007-07-30            20      Buckler, Steve
26       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    25.0  2007-08-16            20      Buckler, Steve
27      Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731   100.0  2007-09-19            20     Buckheit, Bruce
28        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130  2300.0  2007-08-14            20       Buckel, Linda
29        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130 -2300.0  2007-08-14            20       Buckel, Linda
..           ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...                 ...
145      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440    50.0  2007-09-30            35     ABDELLA, THOMAS
146       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35      ABBOTT, WELDON
147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35      ABBOTT, WELDON
148       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-09-15            35      ABBOTT, GERALD
149       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-08-15            35      ABBOTT, GERALD
150       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37      ABEDIN, ZAINUL
151       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    75.0  2008-01-08            37       ABBOTT, SYBIL
152       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    50.0  2008-01-08            37       ABBOTT, SYBIL
153       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   200.0  2008-01-31            37      ABBOTT, RONALD
154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   100.0  2008-01-08            37      ABBOTT, RONALD
155       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763   500.0  2008-01-21            37      ABBOTT, ROBERT
156       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810  1000.0  2008-01-15            37        ABBOTT, MIKE
157        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114   200.0  2008-01-21            37        ABBOT, DAVID
158         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274    35.0  2008-01-07            37       ABBO, PAULINE
159        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37        ABATE, MARIA
160        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150    25.0  2008-01-09            37        ABAIR, PETER
161    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524   150.0  2008-01-28            37  ABACHERLI, SHIRLEY
162       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   300.0  2008-01-30            37     AARONS, CHARLES
163       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   410.0  2008-01-15            37     AARONS, CHARLES
164       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   500.0  2008-01-09            37     AARONS, CHARLES
165         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316   200.0  2008-01-22            37                   X
166         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069   100.0  2008-01-22            37       ABEL, MARLING
167         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37       ABEL, RUDOLPH
168        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823   500.0  2008-01-15            37       ABELE, RODNEY
169  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270   500.0  2008-01-30            37  ABERCROMBIE, DENIS
170     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37   ABESHAUS, MERRILL
171      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504   800.0  2008-01-17            37     ABRAHAM, GEORGE
172   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207    50.0  2008-01-25            37   ABRAHAMSON, PETER
173      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1000.0  2008-01-17            37      ABRAHAM, SALEM
174      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1300.0  2008-01-30            37      ABRAHAM, SALEM

[175 rows x 12 columns]

       last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id
0           Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091   500.0  2007-06-30            16
1         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   250.0  2007-05-16            16
2         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566    50.0  2007-06-18            16
3         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   100.0  2007-06-21            16
4           Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712   100.0  2007-06-16            16
5           Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655  1500.0  2007-05-18            16
6           Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655   500.0  2007-05-18            16
7       Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024   250.0  2007-06-06            16
8          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1000.0  2007-06-11            16
9          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1300.0  2007-06-29            16
10       Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033  1000.0  2007-05-18            16
11       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227  1000.0  2007-04-25            16
12       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227   200.0  2007-06-12            16
13         Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903  2300.0  2007-06-21            16
14        Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266   250.0  2007-06-06            16
15       Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913  2300.0  2007-06-12            16
16      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   500.0  2007-04-08            16
17      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   100.0  2007-06-22            16
18         Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504    50.0  2007-06-28            16
19          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-05-18            16
20          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-06-27            16
21         Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034  2300.0  2007-04-11            16
22      Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123   250.0  2007-04-24            16
23         Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225  1000.0  2007-05-14            16
24        Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502   500.0  2007-05-23            16
25       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    50.0  2007-07-30            20
26       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    25.0  2007-08-16            20
27      Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731   100.0  2007-09-19            20
28        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130  2300.0  2007-08-14            20
29        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130 -2300.0  2007-08-14            20
..           ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...
145      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440    50.0  2007-09-30            35
146       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35
147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35
148       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-09-15            35
149       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-08-15            35
150       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37
151       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    75.0  2008-01-08            37
152       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    50.0  2008-01-08            37
153       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   200.0  2008-01-31            37
154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   100.0  2008-01-08            37
155       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763   500.0  2008-01-21            37
156       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810  1000.0  2008-01-15            37
157        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114   200.0  2008-01-21            37
158         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274    35.0  2008-01-07            37
159        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
160        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150    25.0  2008-01-09            37
161    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524   150.0  2008-01-28            37
162       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   300.0  2008-01-30            37
163       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   410.0  2008-01-15            37
164       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   500.0  2008-01-09            37
165         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316   200.0  2008-01-22            37
166         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069   100.0  2008-01-22            37
167         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37
168        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823   500.0  2008-01-15            37
169  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270   500.0  2008-01-30            37
170     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37
171      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504   800.0  2008-01-17            37
172   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207    50.0  2008-01-25            37
173      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1000.0  2008-01-17            37
174      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1300.0  2008-01-30            37

[175 rows x 11 columns]

                zip       amount  candidate_id
count  1.750000e+02   175.000000    175.000000
mean   3.780014e+08     3.418114     28.000000
std    3.628278e+08  1028.418999      7.823484
min    2.474000e+03 -2592.000000     16.000000
25%    9.336700e+04  -175.000000     20.000000
50%    3.233313e+08   100.000000     32.000000
75%    7.816946e+08   300.000000     35.000000
max    9.951532e+08  4600.000000     37.000000

       last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id
0           Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091   500.0  2007-06-30            16
1         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   250.0  2007-05-16            16
2         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566    50.0  2007-06-18            16
3         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   100.0  2007-06-21            16
4           Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712   100.0  2007-06-16            16
5           Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655  1500.0  2007-05-18            16
6           Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655   500.0  2007-05-18            16
7       Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024   250.0  2007-06-06            16
8          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1000.0  2007-06-11            16
9          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1300.0  2007-06-29            16
10       Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033  1000.0  2007-05-18            16
11       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227  1000.0  2007-04-25            16
12       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227   200.0  2007-06-12            16
13         Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903  2300.0  2007-06-21            16
14        Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266   250.0  2007-06-06            16
15       Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913  2300.0  2007-06-12            16
16      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   500.0  2007-04-08            16
17      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   100.0  2007-06-22            16
18         Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504    50.0  2007-06-28            16
19          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-05-18            16
20          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-06-27            16
21         Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034  2300.0  2007-04-11            16
22      Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123   250.0  2007-04-24            16
23         Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225  1000.0  2007-05-14            16
24        Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502   500.0  2007-05-23            16
25       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    50.0  2007-07-30            20
26       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    25.0  2007-08-16            20
27      Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731   100.0  2007-09-19            20
28        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130  2300.0  2007-08-14            20
29        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130 -2300.0  2007-08-14            20
..           ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...
145      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440    50.0  2007-09-30            35
146       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35
147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35
148       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-09-15            35
149       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-08-15            35
150       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37
151       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    75.0  2008-01-08            37
152       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    50.0  2008-01-08            37
153       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   200.0  2008-01-31            37
154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   100.0  2008-01-08            37
155       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763   500.0  2008-01-21            37
156       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810  1000.0  2008-01-15            37
157        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114   200.0  2008-01-21            37
158         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274    35.0  2008-01-07            37
159        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
160        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150    25.0  2008-01-09            37
161    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524   150.0  2008-01-28            37
162       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   300.0  2008-01-30            37
163       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   410.0  2008-01-15            37
164       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   500.0  2008-01-09            37
165         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316   200.0  2008-01-22            37
166         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069   100.0  2008-01-22            37
167         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37
168        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823   500.0  2008-01-15            37
169  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270   500.0  2008-01-30            37
170     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37
171      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504   800.0  2008-01-17            37
172   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207    50.0  2008-01-25            37
173      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1000.0  2008-01-17            37
174      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1300.0  2008-01-30            37

[175 rows x 11 columns]

       last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id
0           Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091   500.0  2007-06-30            16
1         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   250.0  2007-05-16            16
2         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566    50.0  2007-06-18            16
3         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   100.0  2007-06-21            16
4           Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712   100.0  2007-06-16            16
5           Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655  1500.0  2007-05-18            16
6           Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655   500.0  2007-05-18            16
7       Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024   250.0  2007-06-06            16
8          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1000.0  2007-06-11            16
9          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1300.0  2007-06-29            16
10       Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033  1000.0  2007-05-18            16
11       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227  1000.0  2007-04-25            16
12       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227   200.0  2007-06-12            16
13         Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903  2300.0  2007-06-21            16
14        Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266   250.0  2007-06-06            16
15       Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913  2300.0  2007-06-12            16
16      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   500.0  2007-04-08            16
17      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   100.0  2007-06-22            16
18         Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504    50.0  2007-06-28            16
19          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-05-18            16
20          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-06-27            16
21         Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034  2300.0  2007-04-11            16
22      Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123   250.0  2007-04-24            16
23         Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225  1000.0  2007-05-14            16
24        Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502   500.0  2007-05-23            16
25       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    50.0  2007-07-30            20
26       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    25.0  2007-08-16            20
27      Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731   100.0  2007-09-19            20
28        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130  2300.0  2007-08-14            20
29        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130 -2300.0  2007-08-14            20
..           ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...
145      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440    50.0  2007-09-30            35
146       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35
147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35
148       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-09-15            35
149       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-08-15            35
150       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37
151       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    75.0  2008-01-08            37
152       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    50.0  2008-01-08            37
153       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   200.0  2008-01-31            37
154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   100.0  2008-01-08            37
155       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763   500.0  2008-01-21            37
156       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810  1000.0  2008-01-15            37
157        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114   200.0  2008-01-21            37
158         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274    35.0  2008-01-07            37
159        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
160        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150    25.0  2008-01-09            37
161    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524   150.0  2008-01-28            37
162       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   300.0  2008-01-30            37
163       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   410.0  2008-01-15            37
164       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   500.0  2008-01-09            37
165         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316   200.0  2008-01-22            37
166         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069   100.0  2008-01-22            37
167         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37
168        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823   500.0  2008-01-15            37
169  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270   500.0  2008-01-30            37
170     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37
171      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504   800.0  2008-01-17            37
172   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207    50.0  2008-01-25            37
173      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1000.0  2008-01-17            37
174      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1300.0  2008-01-30            37

[175 rows x 11 columns]

       last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id
0           Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091   500.0  2007-06-30            16
1         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   250.0  2007-05-16            16
2         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566    50.0  2007-06-18            16
3         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   100.0  2007-06-21            16
4           Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712   100.0  2007-06-16            16
5           Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655  1500.0  2007-05-18            16
6           Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655   500.0  2007-05-18            16
7       Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024   250.0  2007-06-06            16
8          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1000.0  2007-06-11            16
9          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1300.0  2007-06-29            16
10       Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033  1000.0  2007-05-18            16
11       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227  1000.0  2007-04-25            16
12       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227   200.0  2007-06-12            16
13         Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903  2300.0  2007-06-21            16
14        Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266   250.0  2007-06-06            16
15       Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913  2300.0  2007-06-12            16
16      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   500.0  2007-04-08            16
17      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   100.0  2007-06-22            16
18         Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504    50.0  2007-06-28            16
19          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-05-18            16
20          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-06-27            16
21         Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034  2300.0  2007-04-11            16
22      Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123   250.0  2007-04-24            16
23         Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225  1000.0  2007-05-14            16
24        Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502   500.0  2007-05-23            16
25       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    50.0  2007-07-30            20
26       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    25.0  2007-08-16            20
27      Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731   100.0  2007-09-19            20
28        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130  2300.0  2007-08-14            20
29        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130 -2300.0  2007-08-14            20
..           ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...
145      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440    50.0  2007-09-30            35
146       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35
147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35
148       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-09-15            35
149       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-08-15            35
150       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37
151       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    75.0  2008-01-08            37
152       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    50.0  2008-01-08            37
153       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   200.0  2008-01-31            37
154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   100.0  2008-01-08            37
155       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763   500.0  2008-01-21            37
156       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810  1000.0  2008-01-15            37
157        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114   200.0  2008-01-21            37
158         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274    35.0  2008-01-07            37
159        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
160        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150    25.0  2008-01-09            37
161    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524   150.0  2008-01-28            37
162       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   300.0  2008-01-30            37
163       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   410.0  2008-01-15            37
164       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   500.0  2008-01-09            37
165         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316   200.0  2008-01-22            37
166         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069   100.0  2008-01-22            37
167         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37
168        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823   500.0  2008-01-15            37
169  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270   500.0  2008-01-30            37
170     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37
171      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504   800.0  2008-01-17            37
172   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207    50.0  2008-01-25            37
173      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1000.0  2008-01-17            37
174      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1300.0  2008-01-30            37

[175 rows x 11 columns]

       last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id
0           Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091   500.0  2007-06-30            16
1         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   250.0  2007-05-16            16
2         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566    50.0  2007-06-18            16
3         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   100.0  2007-06-21            16
4           Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712   100.0  2007-06-16            16
5           Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655  1500.0  2007-05-18            16
6           Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655   500.0  2007-05-18            16
7       Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024   250.0  2007-06-06            16
8          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1000.0  2007-06-11            16
9          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1300.0  2007-06-29            16
10       Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033  1000.0  2007-05-18            16
11       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227  1000.0  2007-04-25            16
12       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227   200.0  2007-06-12            16
13         Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903  2300.0  2007-06-21            16
14        Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266   250.0  2007-06-06            16
15       Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913  2300.0  2007-06-12            16
16      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   500.0  2007-04-08            16
17      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   100.0  2007-06-22            16
18         Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504    50.0  2007-06-28            16
19          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-05-18            16
20          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-06-27            16
21         Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034  2300.0  2007-04-11            16
22      Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123   250.0  2007-04-24            16
23         Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225  1000.0  2007-05-14            16
24        Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502   500.0  2007-05-23            16
25       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    50.0  2007-07-30            20
26       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    25.0  2007-08-16            20
27      Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731   100.0  2007-09-19            20
28        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130  2300.0  2007-08-14            20
29        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130 -2300.0  2007-08-14            20
..           ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...
145      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440    50.0  2007-09-30            35
146       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35
147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35
148       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-09-15            35
149       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-08-15            35
150       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37
151       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    75.0  2008-01-08            37
152       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    50.0  2008-01-08            37
153       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   200.0  2008-01-31            37
154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   100.0  2008-01-08            37
155       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763   500.0  2008-01-21            37
156       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810  1000.0  2008-01-15            37
157        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114   200.0  2008-01-21            37
158         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274    35.0  2008-01-07            37
159        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
160        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150    25.0  2008-01-09            37
161    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524   150.0  2008-01-28            37
162       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   300.0  2008-01-30            37
163       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   410.0  2008-01-15            37
164       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   500.0  2008-01-09            37
165         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316   200.0  2008-01-22            37
166         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069   100.0  2008-01-22            37
167         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37
168        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823   500.0  2008-01-15            37
169  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270   500.0  2008-01-30            37
170     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37
171      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504   800.0  2008-01-17            37
172   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207    50.0  2008-01-25            37
173      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1000.0  2008-01-17            37
174      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1300.0  2008-01-30            37

[175 rows x 11 columns]

       last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id
0           Agee     Steven         NaN        549 Laurel Branch Road        NaN            Floyd    VA      24091   500.0  2007-06-30            16
1         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   250.0  2007-05-16            16
2         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566    50.0  2007-06-18            16
3         Ahrens        Don         NaN          4034 Rennellwood Way        NaN       Pleasanton    CA      94566   100.0  2007-06-21            16
4           Akin    Charles         NaN        10187 Sugar Creek Road        NaN      Bentonville    AR      72712   100.0  2007-06-16            16
5           Akin       Mike         NaN              181 Baywood Lane        NaN       Monticello    AR      71655  1500.0  2007-05-18            16
6           Akin    Rebecca         NaN              181 Baywood Lane        NaN       Monticello    AR      71655   500.0  2007-05-18            16
7       Aldridge    Brittni         NaN  808 Capitol Square Place, SW        NaN       Washington    DC      20024   250.0  2007-06-06            16
8          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1000.0  2007-06-11            16
9          Allen    John D.         NaN        1052 Cannon Mill Drive        NaN    North Augusta    SC      29860  1300.0  2007-06-29            16
10       Allison    John W.         NaN                 P.O. Box 1089        NaN           Conway    AR      72033  1000.0  2007-05-18            16
11       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227  1000.0  2007-04-25            16
12       Allison    Rebecca         NaN             3206 Summit Court        NaN      Little Rock    AR      72227   200.0  2007-06-12            16
13         Altes       R.D.         NaN               8600 Moody Road        NaN       Fort Smith    AR      72903  2300.0  2007-06-21            16
14        Andres       Dale         NaN          1160 Glen Oaks Drive        NaN  West Des Moines    IA      50266   250.0  2007-06-06            16
15       Anthony       John         NaN         211 Long Island Drive        NaN      Hot Springs    AR      71913  2300.0  2007-06-12            16
16      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   500.0  2007-04-08            16
17      Arbogast     Robert         NaN       12900 State Route 56 SE        NaN   Mount Sterling    OH      43143   100.0  2007-06-22            16
18         Ardle    William         NaN             412 Dakota Avenue        NaN      Springfield    OH      45504    50.0  2007-06-28            16
19          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-05-18            16
20          Atiq       Omar         NaN           7200 S Hazel Street        NaN       Pine Bluff    AR      71603  1000.0  2007-06-27            16
21         Baker      David         NaN        2550 Adamsbrooke Drive        NaN           Conway    AR      72034  2300.0  2007-04-11            16
22      Bancroft      David         NaN         2934 Broderick Street        NaN    San Francisco    CA      94123   250.0  2007-04-24            16
23         Banks    Charles         NaN               P.O. Box 251310        NaN      Little Rock    AR      72225  1000.0  2007-05-14            16
24        Barbee       John         NaN          516 Kellyridge Drive        NaN             Apex    NC      27502   500.0  2007-05-23            16
25       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    50.0  2007-07-30            20
26       Buckler      Steve         NaN               24351 Armada Dr        NaN       Dana Point    CA  926291306    25.0  2007-08-16            20
27      Buckheit      Bruce         NaN                 8904 KAREN DR        NaN          FAIRFAX    VA  220312731   100.0  2007-09-19            20
28        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130  2300.0  2007-08-14            20
29        Buckel      Linda         NaN                 PO Box 683130        NaN        Park City    UT  840683130 -2300.0  2007-08-14            20
..           ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...
145      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340        NaN          FAIRFAX    VA  220308440    50.0  2007-09-30            35
146       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35
147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E        NaN   SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35
148       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-09-15            35
149       ABBOTT     GERALD          F.            389 BENEFIT STREET        NaN       PROVIDENCE    RI   29032946   100.0  2007-08-15            35
150       ABEDIN     ZAINUL         NaN         715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37
151       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    75.0  2008-01-08            37
152       ABBOTT      SYBIL          F.               446 GAMES DRIVE        NaN             RENO    NV  895093326    50.0  2008-01-08            37
153       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   200.0  2008-01-31            37
154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET        NaN        MONTCLAIR    CA  917632551   100.0  2008-01-08            37
155       ABBOTT     ROBERT          A.               3061 LOREE ROAD        NaN      DECKERVILLE    MI  484279763   500.0  2008-01-21            37
156       ABBOTT       MIKE          E.              4516 OSPREY LNDG        NaN        NICEVILLE    FL  325786810  1000.0  2008-01-15            37
157        ABBOT      DAVID          M.               56 SALEM STREET        NaN          ANDOVER    MA   18102114   200.0  2008-01-21            37
158         ABBO    PAULINE     MORENCY              10720 JACOB LANE        NaN       WHITE LAKE    MI  483862274    35.0  2008-01-07            37
159        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE        NaN    MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
160        ABAIR      PETER         NaN               40 EVANS STREET        NaN        WATERTOWN    MA   24722150    25.0  2008-01-09            37
161    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD        NaN          MENIFEE    CA  925849524   150.0  2008-01-28            37
162       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   300.0  2008-01-30            37
163       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   410.0  2008-01-15            37
164       AARONS    CHARLES         NaN              1730 SHORE DRIVE        NaN        ANCHORAGE    AK  995153207   500.0  2008-01-09            37
165         ABEL       JOHN          H.             422 THOMAS STREET        NaN        BETHLEHEM    PA  180153316   200.0  2008-01-22            37
166         ABEL    MARLING          L.          14 HANGING MOSS LANE        NaN       GREENVILLE    SC  296155069   100.0  2008-01-22            37
167         ABEL    RUDOLPH         NaN              4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37
168        ABELE     RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE        NaN         METAIRIE    LA  700021823   500.0  2008-01-15            37
169  ABERCROMBIE      DENIS         NaN            11811 WATER OAK CT        NaN         MAGNOLIA    TX  773546270   500.0  2008-01-30            37
170     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE        NaN        FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37
171      ABRAHAM     GEORGE         NaN                 P.O. BOX 1504        NaN     LAKE CHARLES    LA  706021504   800.0  2008-01-17            37
172   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET        NaN          CHICAGO    IL  606572207    50.0  2008-01-25            37
173      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1000.0  2008-01-17            37
174      ABRAHAM      SALEM          A.                    P.O. BOX 7        NaN         CANADIAN    TX  790140007  1300.0  2008-01-30            37

[175 rows x 11 columns]

### LEFT JOIN
#### Exercise 1
| nA | A.attr  | nB  | B.attr  |
|---|---|---|---|
| s1  | 23  | t1  | 60  |
| s2  | 7  | t3  | 22  |
| s3  | 15  | t3  | 22  |
| s4  | 31  | t1 | 60 |

#### Exercise 2
|nB|B.attr|nA|A.attr|
|---|---|---|---|
|t1|60|s1|23|
|t1|60|s4|0|
|t2|14|NaN|NaN|
|t3|22|s2|7|
|t3|22|s3|15|